<section class="banner-landing">

<nav class="z-depth-0 transparent" style="padding: 30px;">
  <ul class="nav-wrapper">
    <a href="" class="brand-logo center"><img src="assets/img/footer-white-logo.svg" alt=""> </a>
  </ul>
</nav>

  <div class="container center-items">
    <div class="row espaco-p-top-1 m-0">
      <div class="col s12 m12">
        <div class="center espaco-p-top-4">
          <h3 class="negrito white-text">O seu banco mais perto de si</h3>
        </div>
      </div>
      <div class="col s12 m4 l4 offset-m4 offset-l4 espaco-m-top-0">
        <a routerLink="/escolha-accao"  class="btn btn-block fundoPrimary sombra-botao borda-1 btn-large">Começar <span class="fa fa-chevron-right"></span> </a>
      </div>
    </div>
  </div>
</section>
