<section>

<nav class="z-depth-0 fundoPrimary">
  <ul class="nav-wrapper">
    <a href="" class="brand-logo transparent center"><img class="pt-3 ms-4" src="assets/img/footer-white-logo.svg" alt=""> </a>
  </ul>
</nav>

<div class="row">
  <div class="col s12 m10 l6 offset-m1 offset-l3 espaco-m-top-1">
    <div class="card borda-2 espaco-p-2 form-login">
      <div class="card-content">
        <form action="">
          <div class="row">
            <div class="col s12">
              <div class="center">
                <img src="assets/img/user.png" class="sombra-botao borda circle center-block" alt="">

                <h5 class="textPrimary">Miguel João</h5>
                <h6>Informe as suas credenciais</h6>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col s12">
                  <input type="password" placeholder="* * * * * *" class="center-align mt-1 texto-3 form-login-input browser-default">
              </div>
          </div>

          <div class="row mt-5">
              <div class="col s12 m6 l6 offset-l3 offset-m3 mt-4">
                  <a routerLink="/home" class="btn btn-large z-depth-0 negrito fundoPrimary borda-1 w-100 Confirmar">Confirmar</a>
              </div>
          </div>
</form>
      </div>

    </div>
  </div>
</div>




</section>
