<nav class="z-depth-0 grey">
  <ul class="nav-wrapper">
    <a href="" class="brand-logo center mt-2"><img src="assets/img/footer-white-logo.svg" alt=""> </a>
  </ul>
</nav>

<ul id="slide-out" class="sidenav sidenav-fixed">
  <li><div class="user-view">
    <div class="background">
      <img src="https://img.freepik.com/free-vector/gradient-liquid-abstract-background_23-2148939140.jpg?w=1380&t=st=1681391222~exp=1681391822~hmac=2d8266db0795c236c6d66c5290b7fd2dbdf48dd37bcc35b4bb0e65d39fe41eaa">
    </div>
    <a href="#user"><img class="circle" src="assets/img/user.png"></a>
    <a href="#name"><span class="white-text name">Pedro João</span></a>
    <a href="#email"><span class="white-text email">pedrojoao@email.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">home</i>Início</a></li>
  <li><a href="#!"><i class="material-icons">person</i> Minha conta</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Menu</a></li>
  <li><a class="waves-effect" href="#!">Pagamentos</a></li>
</ul>


<div class="row">
  <div class="col s12 m12 l9 offset-l2">
    <h4 class="negrito grey-text text-darken-3">Bem-vindo(a), Pedro</h4>
    <h6>Operações populares</h6>

    <div class="row mt-5">
      <div class="col s12 m4 l3">
        <div class="cartao sombra-botao">
          <a href="/estudante/detalhes-ajuda/1">
              <div class="center">
                <i class="textPrimary texto-4 mt-3 material-icons">format_align_center</i>
                  <h6 class="textPrimary negrito">Consultar <br> movimentos </h6>
              </div>
          </a>
      </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="cartao sombra-botao">
          <a href="/estudante/detalhes-ajuda/1">
              <div class="center">
                <i class="textPrimary texto-4 mt-3 material-icons">repeat</i>
                  <h6 class="textPrimary negrito">Tranferência <br> bancária </h6>
              </div>
          </a>
      </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="cartao sombra-botao">
          <a href="/estudante/detalhes-ajuda/1">
              <div class="center">
                <i class="textPrimary texto-4 mt-3 material-icons">attach_money</i>
                  <h6 class="textPrimary negrito">Levantamento <br> sem cartão </h6>
              </div>
          </a>
      </div>
      </div>

      <div class="col s12 m4 l3">
        <div class="cartao sombra-botao">
          <a href="/estudante/detalhes-ajuda/1">
              <div class="center">
                <i class="textPrimary texto-4 mt-3 material-icons">featured_play_list</i>
                  <h6 class="textPrimary negrito">Pagar <br> serviços </h6>
              </div>
          </a>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="cartao sombra-botao">
          <div class="row">
            <div class="col s12 m12 l3">
              <img src="https://cdn-p.vanquis.co.uk/media/2104376/midnight-blue-flat.png" class="responsive-img w-100" alt="">
            </div>

            <div class="col s12 m12 l9 mt-4">
              <h5>Conta: 02849 850384 8493</h5>
              <h5>Saldo</h5>
              <h4 class="textPrimary negrito">193 308 033 AOA</h4>
            </div>
          </div>

      </div>
      </div>
    </div>

    <div class="row espaco-m-top-1">
      <div class="col s12 m6 l6 offset-l3 offset-m3">
          <div class="center">
              <ul class="pagination">
                  <li class="sem-borda"><a href="" class=""><span class="fa fa-chevron-left"></span> </a> </li>
                  <li class=""><a href="" class="transparent-text">1</a> </li>
                  <li class="active borda-4 transparent-text"><a href="" class="transparent-text">2</a> </li>
                  <li class=""><a href="" class="transparent-text">3</a> </li>
                  <li class=""><a href="" class="transparent-text">4</a> </li>
                  <li class=""><a href="" class="transparent-text">5</a> </li>
                  <li class="sem-borda"><a href=""><span class="fa fa-chevron-right"></span> </a> </li>
              </ul>
          </div>
      </div>
  </div>

  <div class="row mb-0 pb-0">
    <div class="col s12">
      <div class="cartao p-0 sombra-botao">
        <div class="row px-5 pt-4">
          <div class="col s12">
            <h6 class="textPrimary">5 ABRIL 2023</h6>
          </div>
        </div>
        <div *ngFor="let item of totalItens">
          <div class="row px-5">
            <div class="col s12 m12 l1 mt-2">
              <i class="material-icons texto-3 grey-text text-darken-3">credit_card</i>
            </div>

            <div class="col s12 m12 l10">
              <h6 class="negrito  grey-text text-darken-3">Tpa-mcx50482**429v493</h6>
              <h6 class="red-text text-darken-3">-1 000 AOA</h6>
            </div>
            <div class="col s12 m12 l1 mt-2 right-align">
              <i class="material-icons texto-3 grey-text text-darken-3">more_vert</i>
            </div>
          </div>
          <hr>
        </div>

        <div class="row m-0">
          <div class="col s12 m12 l12 m-0 p-0">
            <a href="" style="background: rgba(236, 112, 8, 0.1);" class="w-100 btn-large btn z-depth-0 negrito textPrimary">Ver tudo</a>
          </div>
        </div>

    </div>
    </div>
  </div>
  </div>
</div>


